body {
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.header {
    width: auto;
    height: 48px;
    align-items: center;
    display: flex;
    margin-top: 28px;
    margin-bottom: 31px;

}

#active-element {
    color: #5e5e5e;
}


.search {
    width: 343px;
    height: 47px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    align-items: center;

}

.search-input {
    font-size: 20px;
    margin: 0;
    border: none;
    outline: none;
}

.search-icon {
    margin-right: 10px;
    margin-left: 20px;
}

.headertext {
    white-space: nowrap;
    text-decoration: none;
    color: black;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 20px;
}

.headertext:hover {
    color: #757474;
}

.profile-icon {}

.svgprofile {
    margin-left: 100px;
}

.about {
    background-color: #F1EFE3;
    width: 1078px;
    height: 132px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 20px 40px;
    justify-content: space-between;

}

.logo-text {
    font-size: 48px;
    margin: 0;
    line-height: 1.2;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.desc-text {
    font-size: 20px;
    margin: 0;
}

.book_about {
    width: 170px;
}

.welcome {
    background-color: #FFFFFF;
    width: 1078px;
    height: 206px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin-top: 35px;
    flex-direction: column;
    padding: 20px 40px;
    justify-content: space-between;
    border: 1px solid black;

}

.welcome-text {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin: 0;
}

.descipction {
    font-size: 20px;
    color: #858484;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 1.5;
    text-align: center;
}

.mini-descipction {
    font-size: 20px;
    color: #858484;
    margin-bottom: 10px;
    margin-top: 10px;
}


.bestsellers {
    background-color: #FFFFFF;
    width: 1078px;
    height: 392px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin-top: 10px;
    flex-direction: column;
    padding: 20px 40px;
    justify-content: space-between;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.bestsellers-text {
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 10px;
    align-items: start;
}


.book {
    text-align: center;
    margin-bottom: 20px;
    width: 22%;
    min-width: 200px;
}

.name {
    font-size: 20px;
    margin-bottom: 20px;
    color: #757474;
    line-height: 1.2;
}

.rating {
    font-size: 70рх;
    color: #757474;
    margin-top: 20px;
}

footer {
    background-color: #757474;
    color: white;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact-info {
    margin-left: 261px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.adress {
    margin-right: 8px;
}

.emailadrs {
    margin-right: 8px;
}

.email {
    margin-right: 8px;
    text-decoration: none;
    color: #FFFFFF;

}

.phone {
    margin-right: 8px;
}

.account {
    margin-right: 300px;
    text-decoration: none;

}

.acc {
    font-size: 32px;

    margin: 0;
}

.acc-text {
    color: #FFFFFF;
    text-decoration: none;
    line-height: 30px;
    display: flex;
}

.line {
    color: #C8C8C8;
    width: 661px;
}

.right {
    color: #C8C8C8;
    text-align: center;
    font-size: 20px;
}

@font-face {
    font-family: mainfont;
    src: url(./JejuMyeongjo-Regular.ttf);
}