body {
    background-color: rgb(241, 239, 227);
    font-family: mainfont;
}

input {
    width: 321.3px;
    height: 42.21px;
    border-radius: 25.2px;
    border: 0.945px solid #D4D4D4;
    background: #FFF;
}

::placeholder{
    color: #757474;
    font-size: 15.12px;
    font-family: mainfont;
    padding-left: 15px;
}

.emailinput {
    margin-top: 30px;
}


.passinput {
    margin-top: 13px;
}


.reg-container {
    background-color: #FFFFFF;
    width: 416px;
    height: 516px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 37px;
    margin-top: 30px;
    margin-left: 512px;
}

.reg-text {
    margin-top: 110px;
    color: #757474;
    font-size: 25.2px;
}


.login {
    margin-top: 47px;
    width: 321.3px;
    height: 42.21px;
    border-radius: 25.2px;
    border: 0.945px solid #FFF;
    background: #D4D4D4;
    font-family: maintext;
    color: #FFF;
    font-size: 15.12px;
}

.reg-recovery{
    font-size: 12px;
    text-decoration: none;
    color: #757474;
    margin-top: 73px;
}


@font-face {
    font-family: mainfont;
    src: url(./JejuMyeongjo-Regular.ttf);
}

