body {
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: auto;
    height: 48px;
    align-items: center;
    display: flex;
    margin-top: 28px;
    margin-bottom: 31px;

}

#active-element {
    color: #5e5e5e;
}


.search {
    width: 343px;
    height: 47px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    align-items: center;

}

.search-input {
    font-size: 20px;
    margin: 0;
    border: none;
    outline: none;
}

.search-icon {
    margin-right: 10px;
    margin-left: 20px;
}

.headertext {
    white-space: nowrap;
    text-decoration: none;
    color: black;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 20px;
}

.headertext:hover {
    color: #757474;
}

.profile-icon {
}

.svgprofile {
    margin-left: 100px;
}

.resenz {
    flex-direction: column;
}


.book {
    display: flex;
    background: #F1EFE3;
    width: 1082px;
    height: 190.352px;
    border-radius: 30px;
    padding: 20px 40px;
    align-items: center;

}

.name{
    margin-left: 53px;
    flex-direction: column;
    display: flex;

}

.nameBook {
    font-size: 32px;
    margin-bottom: 0;
    margin-top: 0;
    
    
}

.author {
    font-size: 20px;
    margin-top: 0;
    text-align: left;

}

.knizka {
    width: 89px;
    height: 146px;

}

.res {
    border: 1px solid black;
    width: 1078px;
    height: auto;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 32px;
    padding: 20px 40px;
    flex-direction: column;

}

.res-title {
    font-size: 32px;
}

.res-disc {
    font-size: 20px;
}

.personName {
    font-size: 20px;
    margin-top: 15px;
}

.myScore {
    font-size: 20px;
    margin-left: 22px;
}

footer{
    background-color: #757474;
    color: white;
    width: 100%; 
}
  
  .footer-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .contact-info {
    margin-left: 261px;
  }
  
  .contact-item {
    display: flex;
    align-items: center; 
    margin-bottom: 8px;
  }
  
  .adress{
    margin-right: 8px; 
  }
  .emailadrs{
    margin-right: 8px; 
  }
  .email{
    margin-right: 8px; 
    text-decoration: none; 
    color: #FFFFFF;

  }
  .phone{
    margin-right: 8px; 
  }

.account{
    margin-right: 300px;
    text-decoration: none;
    
}

.acc{
    font-size: 32px;

    margin: 0;
}

.acc-text {
    color: #FFFFFF;
    text-decoration: none;
    line-height: 30px;
    display: flex;
}

.line{
    color: #C8C8C8;
    width: 661px;
}

.right {
    color: #C8C8C8;
    text-align: center;
    font-size: 20px; 
}

@font-face {
    font-family: mainfont;
    src: url(./JejuMyeongjo-Regular.ttf);
}